.hgroup {
  font-weight: 700;
}

.heading-primary {
  line-height: 1;
}

.heading-primary--main {
  font-size: 6rem;
  color: $color-primary;
   @media only screen and (max-width: 62.5em) {
    font-size: 5rem;
  }
   @media only screen and (max-width: 50em) {
    font-size: 4rem;
  }
}

.heading-primary--sub {
  font-size: 1.8rem;
  line-height: 1.4;
}

.heading-2 {
  font-size: 3rem;
  @extend .hgroup;
}

.heading-3 {
  font-size: 1.8rem;
}

.heading-4 {
  font-size: 1.6rem;
}