$color-primary: #3D7CC9;
$color-blue-dark: #1C2537;
$color-white: #fff;

$color-black: rgb(30, 35, 41);
$color-text: rgb(71, 77, 87);

$color-grey: rgb(146, 145, 145);
$color-grey-light: rgba(199, 199, 199, 0.541);

$color-twitter: rgb(32, 129, 226);

$shadow: 0 2px 4px rgba(0,0,0,0.2);
$shadow-sm: 0 3px 5px rgba(0,0,0,0.2);